.banner{
  width: 100%;
}
.img-box{
  width: 728px;
  height: 90px;
  margin: 0 auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  .img{
    position:absolute;
    visibility:hidden;
    overflow: hidden;
    z-index: -1;
  }
  #slider1{
    background-color: #ffb62f;
    position: relative;
    top: 9%;
    width: 50%;
    height: 48%;
    z-index: 1;
    // visibility:hidden;
    margin-left: 0%;
    text-align: center;
    opacity: 0.8;
    overflow: hidden;
    border-radius: 5px;
    font-size: 33px;
    font-family: Helvetica;
    color: white;
  }
  #slider2{
    background-color: #e96327;
    position: relative;
    top: 0%;
    width: 50%;
    height: 48%;
    z-index: 1;
    right: -50%;
    text-align: center;
    font-size: 33px;
    font-family: Helvetica;
    opacity: 0.8;
    color: white;
    overflow: hidden;
    border-radius: 5px;
    // visibility:hidden;
  }
  #slider3{
    background-color: #42c3db;
    position: relative;
    top: -67%;
    width: 50%;
    height: 48%;
    z-index: 1;
    margin-left: 0%;
    text-align: center;
    font-size: 33px;
    font-family: Helvetica;
    opacity: 0.8;
    color: white;
    border-radius: 5px;
    // visibility:hidden;
  }
  #slider4{
    background-color: #ffb62f;
    position: relative;
    bottom: 94%;
    width: 50%;
    height: 48%;
    z-index: 1;
    right: -50%;
    text-align: center;
    font-size: 33px;
    font-family: Helvetica;
    opacity: 0.8;
    color: white;
    border-radius: 5px;
    // visibility:hidden;
  }
  #slider5{
    background-color: #e96327;
    position: relative;
    bottom: 185%;
    width: 50%;
    height: 48%;
    z-index: 1;
    margin-left: 0%;
    text-align: center;
    font-size: 33px;
    font-family: Helvetica;
    opacity: 0.8;
    color: white;
    border-radius: 5px;
    // visibility:hidden;
  }
  #btn-treehouse{
    transition: background 0.3s;
    // visibility:hidden;
    padding: 9px 21px;
    border-radius: 4px;
    color: white;
    background: #42c3db;
    font-weight: lighter;
    transition: background 0.3s;
    z-index: 1000;
    margin-left: 271px;
    position: absolute;
    top: 5%;
    text-decoration: none;
    font-family: Helvetica;
    &:hover{
      opacity: 0.6;
    }
  }
}

