<div class="banner">
<div class="img-box">

<img id="img1" class="img" src="https://images.unsplash.com/photo-1491904768633-2b7e3e7fede5?auto=format&fit=crop&w=1189&q=80" width="728" height="90"/>
<img id="img2" class="img" src="https://images.unsplash.com/photo-1497298332258-e43b236a8e30?auto=format&fit=crop&w=625&q=80" width="728" height="90"/>
<img id="img3" class="img" src="https://images.unsplash.com/photo-1448906654166-444d494666b3?auto=format&fit=crop&w=750&q=80" width="728" height="90"/>
<img id="img4" class="img" src="https://images.unsplash.com/photo-1502851755296-d42fd093190e?auto=format&fit=crop&w=750&q=80" width="728" height="90"/>
<div class="btn"><a href="#" id="btn-treehouse">Start now</a></div>

<div id="slider1">Mountain Exploration</div>
<div id="slider2">Reach new heights</div>

<div id="slider3">Urban Exploration</div>

<div id="slider4">Global Exploration</div>
<div id="slider5">Discover new corners</div>
</div>
</div>



